.btn-to-basket__btn {
    padding: 9px 13px;
    font-size: 15px;
    font-weight: 400;
    color: #363B3E;
    border: 1px solid #BCC1C6;
    border-radius: 4px;
}

.btn-to-basket__btn:hover {
    color: #F36D52;
    border: 1px solid #F36D52;
}

.btn-to-basket__btn:active {
    color: #F36D52;
    border: 1px solid #F36D52;
    padding: 8px 12px;
}