.swiper-button-prev {
    border: 2px solid #E8E9ED;
    padding: 17px 26px;
    border-radius: 500px;
    background-image: url("../../../public/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 46% !important;
    transition: border-color 300ms;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    border: 2px solid #F36D52;
    fill: #F36D52;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-next{
    border: 2px solid #E8E9ED;
    padding: 17px 26px;
    border-radius: 500px;
    background-image: url("../../../public/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    top: 46% !important;
    transition: border-color 300ms;
}

.swiper-button-next::after {
    display: none;
}

.swiper-pagination-bullet {
    display: none;
}

@media (max-width: 1416px) {
    .swiper-button-prev, .swiper-button-next {
        padding: 14px 23px;
    }
}

@media (max-width: 1024px) {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    .swiper-pagination-bullet {
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .mySwiper {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}

