.slider-item {
    border: 1px solid #E8E9ED;
    padding: 55px 30px 22px;
}

.slider-item__img {
    margin-bottom: 64px;
}

.slider-item__title {
    margin-bottom: 17px;
}

.slider-item__price {
    margin-bottom: 15px;
}

.slider-item__text-container {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.slider-item__btn-container {
    display: flex;
}

.slider-item__like {
    margin-left: auto;
}

