@import "App.css";
@import "header/header.css";

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/clearsans.woff2") format("woff2"),
  url("../fonts/clearsans.woff") format("woff");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::before, ::after {
  box-sizing: inherit;
}


a {
  color: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul-reset {
  padding: 0;
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1126px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container_no-paddings {
  max-width: 1126px;
  margin-left: auto;
  margin-right: auto;
}

.container-slider {
  max-width: 1412px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: "Clear Sans";
  margin: 0;
  padding: 0;
}

.title-h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}

.title-h2_mrgnbtm {
  margin-bottom: 35px;
}

.description-text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #363B3E;
}

.description-text_mrgnbtm {
  margin-bottom: 35px;
}

.price {
  font-size: 21px;
  font-weight: 700;
  color: #363B3E;
}

.price_mrgnbtm {
  margin-bottom: 35px;
}

.btn-shop {
  font-size: 16px;
  font-weight: 400;
  font-family: "Clear Sans";
  font-weight: 400;
  border-radius: 5px;
  padding: 10px 37px 13px 37px;
  transition: background-color 300ms;
}

.title {
  font-size: 700px;
  font-weight: bold;
  line-height: 52px;
}

.btn-shop:active {
  padding: 9px 35px 11px;
  margin-bottom: 3px;
}

@media (max-width: 360px) {
  .title-h2 {
    font-size: 25px;
  }
}

@media (max-width: 430px) {
  .title-h2 {
    font-size: 30px;
  }
  .description-text {
    font-size: 13px;
  }
  .price {
    font-size: 17px;
  }
  .btn-shop {
    font-size: 13px;
    padding: 9px 17px;
  }

  .btn-shop:active {
    padding: 8px 16px;
  }
}