.btn-buy_orange {
    background-color: #F36D52;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-buy_white {
    background-color: #FFFFFF;
    border: 1px solid #F36D52;
    color: #F36D52;
}
