.btn-buy_orange {
    background-color: #F36D52;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-buy_orange:active {
    padding-left: 48px;
    padding-right: 48px;
}

.btn-buy_orange:hover {
    background-color: #F38630;
}

.btn-buy_white {
    background-color: #FFFFFF;
    border: 1px solid #F36D52;
    color: #F36D52;
    padding: 9px 37px 12px;
}

.btn-buy_white:hover {
    background-color: #F8F8FF;
}

.btn-buy_white:active {
    padding: 8px 34px 10px;
}
