.items-to-buy-block {
    padding-top: 50px;
    padding-bottom: 50px;
}

.items-to-buy-block_grey {
    background-color: #F8F7F7;
}

.items-to-buy-block__item-wrap {
    display: flex;
}

.items-to-buy-block_margin-right {
    margin-right: 126px;
}

.title-h2_lighter {
    color: #363B3E;
}

@media (max-width: 1024px) {
    .items-to-buy-block__img {
        max-width: 350px;
        max-height: 389px;
    }
}

@media (max-width: 845px) {
    .items-to-buy-block__item-wrap {
        flex-direction: column;
    }
    .items-to-buy-block__img {
        margin-top: 20px;
    }
    .items-to-buy-block_margin-right {
        margin-right: 0;
    }
}



