.btn-to-presents {

}

.btn-to-presents__btn {
    background-color: #F36D52;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-to-presents__btn:hover {
    background-color: #363B3E;
}

@media (max-width: 930px) {
    .btn-to-presents__btn {
        font-size: 14px;
    }
}

@media (max-width: 612px) {
    .btn-to-presents__btn {
        font-size: 12px;

    }
}

@media (max-width: 490px) {
    .btn-to-presents__btn {
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    .btn-to-presents__btn {
        font-size: 10px;
        padding: 9px 17px;
    }
    .btn-to-presents__btn:active {
        padding: 8px 16px;
    }
}

