.beauty-box {

}

.beauty-box__header {
    padding-top: 96px;
    padding-left: 95px;
    padding-bottom: 96px;
    background-image: url("../../../public/header_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%, 100%, contain;
}


.beauty-box__info {
    display: flex;
    flex-direction: column;
}

.beauty-box__title {
    font-size: 48px;
    font-weight: 700;
    color: #363B3E;
    margin-bottom: 25px;
}

.beauty-box__description {
    font-size: 21px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 83px;
}

@media (max-width: 1060px) {
    .beauty-box__header {
        padding-left: 60px;
        padding-top: 60px;
    }
}

@media (max-width: 930px) {
    .beauty-box__title {
        font-size: 38px;
    }
    .beauty-box__description {
        font-size: 16px;
    }
    .beauty-box__header {
        padding-top: 50px;
    }

}

@media (max-width: 790px) {
    .beauty-box__title {
        font-size: 32px;
    }
    .beauty-box__description {
        font-size: 14px;
        margin-bottom: 50px;
    }
    .beauty-box__header {
        padding-top: 40px;
        padding-left: 40px;
    }

}

@media (max-width: 612px) {
    .beauty-box__title {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .beauty-box__description {
        font-size: 12px;
        margin-bottom: 40px;
    }
    .beauty-box__header {
        padding-top: 25px;
        padding-left: 20px;
    }

}

@media (max-width: 490px) {
    .beauty-box__title {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .beauty-box__description {
        font-size: 10px;
        margin-bottom: 25px;
    }
    .beauty-box__header {
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 45px;
    }

}

@media (max-width: 400px) {
    .beauty-box__title {
        font-size: 20px;
        margin-bottom: 14px;
    }
    .beauty-box__description {
        font-size: 8px;
        margin-bottom: 25px;
    }
    .beauty-box__header {
        padding-top: 10px;
        padding-left: 10px;
    }
}
